{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/article_detail.css') }}">
{% endblock %}

{% block title %}详情{% endblock %}

{% block body %}
    <div class="main">
        <h3 class="page-title">{{ article.title }}</h3>
        <p class="article-info">
            <span>作者：{{ article.author }}</span>
            <span>时间：{{ article.create_time|dformat }}</span>
        </p>
        <hr>
        {#        文本超出宽度时自动换行，并保留原格式#}
        <pre class="article-content " style="white-space: pre-wrap;">{{ article.content }}</pre>
        <hr>
        <h4 class="comment-group-title">评论（{{ article.comments|length }}）：</h4>
        <form action="{{ url_for('qa.article_comment') }}" method="post" class="my-4">
            <input type="hidden" name="article_id" value="{{ article._id }}">
            <div class="form-row">
                <div class="col">
                    <input type="text" placeholder="请填写评论" name="content" class="form-control">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary">评论</button>
                </div>
            </div>
        </form>

        <ul class="comment-group">
            {% for comment in article.comments %}
                <li>
                    <div class="user-info">
                        <img class="avatar" src="{{ url_for('static',filename='images/boy.jpg') }}" alt="">
                        <span class="username">{{ comment.user.username }}</span>
                        <span class="create-time">{{ comment.create_time |dformat }}</span>
                    </div>
                    <p class="comment-content">{{ comment.content }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}