<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>淘宝数据分析可视化系统</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <style>
        /* 自定义样式可以在这里添加 */
    </style>
</head>

<body>
    <div class="container-fluid" >
        <div class="row " >
            <!-- 导航选择栏 -->
            <div class="col-md-auto bg-light p-3 text-center min-vh-100">
                <h3 class="mt-3 m-3"><a class="text-decoration-none" href="https://www.example.com">首页</a></h3>
                <ul class="nav flex-column mt-4 m-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="#user-behavior">用户行为分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#product-analysis">商品分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#time-analysis">时间分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#category-analysis">商品类别分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#user-analysis">用户分析</a>
                    </li>
                </ul>
            </div>
            <!-- 可视化界面 -->
            <div class="col-md-9">
                <!-- 上半部分标题 -->
                <div class="mt-3">
                    <h5 >淘宝数据分析可视化系统</h5>
                </div>
                <!-- 下半部分可视化界面，使用相应的ID来定位导航 -->
                <div id="user-behavior" class="mt-5">
                    <!-- 用户行为分析内容 -->
                    <!-- 这里放置用户行为分析的可视化内容 -->
                </div>
                <div id="product-analysis" class="mt-5">
                    <!-- 商品分析内容 -->
                    <!-- 这里放置商品分析的可视化内容 -->
                </div>
                <div id="time-analysis" class="mt-5">
                    <!-- 时间分析内容 -->
                    <!-- 这里放置时间分析的可视化内容 -->
                </div>
                <div id="category-analysis" class="mt-5">
                    <!-- 商品类别分析内容 -->
                    <!-- 这里放置商品类别分析的可视化内容 -->
                </div>
                <div id="user-analysis" class="mt-5">
                    <!-- 用户分析内容 -->
                    <!-- 这里放置用户分析的可视化内容 -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>
